.tableList-query{
    display: flex;
    width: 100%;
    margin-bottom: 24px;
    padding: 24px 24px 0;
    background: #fff;
    height: auto;
    flex-wrap: wrap;
}
.tableList-query>div{
    padding: 0 12px;
    flex: 1 0 auto;
    width: calc(100% / 3);
}
@media screen and (max-width:860px) {
    .tableList-query>div{
        width: 50%
    }
    .is-close .tableList-query-describe{
        display: none;
    }
    .tableList-query-label{
        flex-direction: column;
    }
    .tableList-query-label .tableList-query-label-content{
        justify-content: flex-start
    }
    .tableList-query-btn-body{
        padding: 27px 0 0;
    }
}
@media screen and (max-width:625px) {
    .tableList-query>div{
        width: 100%
    }
    .tableList-query-btn-body{
        padding: none;
    }
}
.tableList-query-label{
    display: flex;
    gap: 5px;
    margin-bottom: 24px;
    
}
.tableList-query-btn-body{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 24px;
}
.tableList-query-label-content{
    display: flex;
    align-items: center;
    width:100px;
    gap: 3px;
    font-size: 14px;
    line-height:22px;
    justify-content: flex-end;
    flex-shrink: 0;
    
}
.tableList-query-label-content svg{
    width: 14px;
    height: 14px;
    color: white;
    background-color: black;
    border-radius: 50%;
}
.Putaway{
    display: flex;
    height: 32px;
    align-items: center;
    gap: 5px;
    color: var(--el-color-primary);
    padding: 0px 10px;
}
.Putaway svg{
    transform: translateY(1px);
    width: 14px;
    height: 14px;
    
}
.Putaway:hover,
.Putaway:active{
    opacity: 0.7;
}


.tobuttom svg{
    transform: rotateZ(180deg);
}
/* 列表部分css */
.tableList-show{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border-radius: 2px;
}
.tableList-show-body{
    height: 100%;
    padding: 24px;
}
.tableList-show-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 0 16px;
    align-items: center
}
.tableList-show-header-operation{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.setupList{
    width: 18px;
    height: 18px;
}
.setupList:hover{
    color:  var(--el-color-primary);
}
.status-body{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.status-img{
    width: 6px;
    height: 6px;
    border-radius: 50%;
}
.status-loading{
    animation: antStatusProcessing 1.2s ease-in-out infinite;
}
@keyframes  antStatusProcessing{
    form{
        box-shadow: 0 0 2px 1px #91d5ff9e;
    }
    40%{
        box-shadow: 0 0 2px 3px #91d5ff9e;
    }
    50%{
        box-shadow: 0 0 2px 2px #91d5ff9e;
    }
    60%{
        box-shadow: 0 0 2px 3px #91d5ff9e;
    }
    to{
        box-shadow: 0 0 2px 1px #91d5ff9e;
    }
}
.a-btn{
    color: var(--el-button-text-color);
    text-decoration: none;
}
.operation{
    max-width:150px
    /* display: flex;
    flex-direction: row;
    align-items: center; */
}
.operation .el-button+.el-button{
    margin: 0;
}
.describe{
    max-width: 10em;
}
.pagination-container{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-top: 16px;
    overflow: auto;
}

.currentinfo{
    line-height: 24px;
    font-size:12px;
    margin-right: 5px;
    font-weight: 400;
    color: var(--el-text-color-regular);
}
.tableList-show-main{
    overflow: auto;
    border-top: 1px #a8abb24a solid;
}
@media screen and (max-width: 500px){
    .tableList-show-main-table{
        width: 1000px;
    }
    .describe{
        max-width: 10em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
/* 显示选中的项数 */
.tableList-show-chioce{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--el-color-primary);
    border-radius: 2px;
    padding: 6px 15px;
    margin-bottom: 8px;
    word-wrap: break-word;
    background-color: var(--el-color-primary-light-9);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum","tnum";
    color: rgba(0,0,0,.85);
}

/* 批量处理选中的内容 */
.tableList-handle-chioce{
    position: fixed;
    width: 100%;
    bottom: 0;
    right: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    line-height: 43px;
    background: #fff;
    border-top: 1px solid rgba(0,0,0,.06);
    box-shadow: 0 -6px 16px -8px rgb(0 0 0 / 8%), 0 -9px 28px 0 rgb(0 0 0 / 5%), 0 -12px 48px 16px rgb(0 0 0 / 3%);
    transition: width .3s cubic-bezier(.645,.045,.355,1);
}
.tableList-handle-chioce.is-open{
    width:calc(100% - 200px);
}
.tableList-handle-chioce.is-close{
    width:calc(100% - 64px);
}
.tableList-handle-chioce-content{
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum","tnum";
    color: rgba(0,0,0,.85);
    display: flex;
    align-items: center;
    gap: 10px;
}
/* 列表设置部分 */
.colsetup-header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px #a8abb2bf solid;
}
.setupList-btn{
    border: 0 solid transparent;
    background-color: transparent;
}